<template>
  <div id="games">
    

    <div style="position: absolute; width: 100%;">
      <v-slide-y-transition>
         <div v-show='this.$store.state.windowWidth >= 600 && loadingTrade !== ""' :style='"width: 300px; height: 60px; background-color: #2c2033; position: absolute; margin-top: 20px; border-radius: 5px;" + (this.$store.state.windowWidth > 1500 ? "margin-left: 17%;" : "margin-left: 110px;")'>
           <div style='float: left; margin: 15px; margin-top: 20px;'>
           <v-progress-circular
              indeterminate
              :color='(loadingMessage === "Checking trade" ? "#fcba03" : (loadingMessage === "Offer has been accepted" ? "rgb(131, 102, 150)" : "#d23a4e"))'
              style='margin-top: -5px;'
              :size="25"></v-progress-circular>

              <span :style='(loadingMessage === "Checking trade" ? "color: #fcba03;" : (loadingMessage === "Offer has been accepted" ? "color: rgb(131, 102, 150);" : "color: #d23a4e;")) + "font-size: 16px; margin-left: 40px; font-weight: bold;"'>
                {{ loadingMessage }} <span v-for='(dot,index) in dots' :key='index'>{{ dot }}</span>
              </span>
  
        </div>
         </div>
         </v-slide-y-transition>

         <v-slide-y-transition>
         <div v-show='this.$store.state.windowWidth >= 600 && loadingTrade ' :style='"width: 50px; height: 50px; background-color: #2c2033; position: absolute; margin-top: 20px; left: 280px; border-radius: 100%;" + (this.$store.state.windowWidth > 1500 ? "margin-left: 17%;" : "margin-left: 110px;")'>
            <v-icon x-large color="#fcba03" title='Open trade' @click='openTrade()' style='cursor: pointer; margin-top: 5px;'>mdi-steam</v-icon>
         </div>
         </v-slide-y-transition>

          <!--<div v-else>Mobile</div>-->
         <div>
    <center>
        <div id="holder" v-if='this.$store.state.windowWidth > 1500'>
          <div class='logo'><v-img id='logo' height='50px' src="~@/assets/logo-orange.png" contain></v-img></div>

          <div id='top-menu'>
            <v-img v-if='!avatar || avatar == "" || avatar == "empty"' src="~@/assets/user-image.png" contain id="user-img"></v-img>
            <v-img v-else :src="avatar" id="user-img"></v-img>
            <h3 id="username">{{ username }}</h3>
            

            <div id="coins-holder">
              <center>
                  <v-icon small color="#f1da68" style="margin-left: -5px; margin-right: 5px;">mdi-trophy-award</v-icon>
                  <span style="font-size: 12px; font-weight: bold;">{{ coins }}</span>
              </center>
            </div>
          </div>
          
          <center>
          <div id="nav">
            <router-link to="/"><div class='path-wrapper'><v-img src="~@/assets/home-icon.png" contain class='icon'></v-img><span class='path'>HOME</span></div></router-link> 
            <router-link to="/games/slots"><div class='path-wrapper'><v-img src="~@/assets/slots-icon.png" contain class='icon'></v-img><span class='path'>SLOTS</span></div></router-link>
            <router-link to="/games/poker"><div class='path-wrapper'><v-img src="~@/assets/poker-icon.png" contain class='icon'></v-img><span class='path'>POKER</span></div></router-link>
            <router-link to="/games/deposit"><div class='path-wrapper'><v-img src="~@/assets/deposit-icon.png" contain class='icon'></v-img><span class='path'>DEPOSIT</span></div></router-link>
            <router-link to="/games/withdraw"><div class='path-wrapper'><v-img src="~@/assets/withdraw-icon.png" contain class='icon'></v-img><span class='path'>WITHDRAW</span></div></router-link>
            <router-link to="/games/qa"><div class='path-wrapper'><v-img src="~@/assets/qa-icon.png" contain class='icon'></v-img><span class='path'>Q/A</span></div></router-link>
            <div id="bottom-info">
              Logout
            </div>
          </div>
          </center>
        </div>
        <div v-else-if="this.$store.state.windowWidth < 600">
          <v-card class="overflow-hidden">
    <v-app-bar
      absolute
      style='height: 60px; background-color: rgba(82, 44, 148, 0);'
      shrink-on-scroll
      dark
      prominent
    >
      <v-app-bar-nav-icon @click='menuOpen = !menuOpen'></v-app-bar-nav-icon>

      <v-spacer></v-spacer>
      <v-img height='40px' src="~@/assets/logo-noicon.png"  style='position:absolute; left: 34% ;margin-top: 5px;' contain></v-img>
<v-slide-y-transition>

      <div v-show='menuOpen' id='menuTop' style='position: absolute; top: 60px; width: 100%; left: 0; border-radius: 50px; height: 40px; padding-top: 9px; background-color: #1d1522'>
            <v-layout>
              <v-flex xs2><router-link to="/"><v-img src="~@/assets/home-icon.png" contain class='icon-top-menu'></v-img></router-link> </v-flex>
              <v-flex xs2><router-link to="/games/slots"><v-img src="~@/assets/slots-icon.png" contain class='icon-top-menu'></v-img></router-link></v-flex>
              <v-flex xs2><router-link to="/games/poker"><v-img src="~@/assets/poker-icon.png" contain class='icon-top-menu'></v-img></router-link></v-flex>
              <v-flex xs2><router-link to="/games/deposit"><v-img src="~@/assets/deposit-icon.png" contain class='icon-top-menu'></v-img></router-link></v-flex>
              <v-flex xs2><router-link to="/games/withdraw"><v-img src="~@/assets/withdraw-icon.png" contain class='icon-top-menu'></v-img></router-link></v-flex>
              <v-flex xs2><router-link to="/games/qa"><v-img src="~@/assets/qa-icon.png" contain class='icon-top-menu'></v-img></router-link></v-flex>
            </v-layout>
      </div>
</v-slide-y-transition>
    </v-app-bar>
    <v-sheet
      id="scrolling-techniques"
      class="overflow-y-auto"
      max-height="600"
    >
    </v-sheet>
  </v-card>
        </div>

        <div v-else>
          <div id="holder_closed">
            <v-img src="~@/assets/csgoblind-nologo.png" contain></v-img>
            <v-img v-if='!avatar || avatar == "" || avatar == "empty"' src="~@/assets/user-image.png" contain id="user_closed"></v-img>
            <v-img v-else :src="avatar" id="user_closed"></v-img>
            
            <div id="coins-holder_collapsed">
              <center>
                  <v-icon small color="#f1da68" style="margin-left: -5px; margin-right: 5px;">mdi-trophy-award</v-icon>
                  <span style="font-size: 12px; font-weight: bold;">{{ coins }}</span>
              </center>
            </div>

            <div id="nav">
            <router-link to="/"><v-img src="~@/assets/home-icon.png" contain class='icon_colapsed'></v-img></router-link> 
            <router-link to="/games/slots"><v-img src="~@/assets/slots-icon.png" contain class='icon_colapsed'></v-img></router-link>
            <router-link to="/games/poker"><v-img src="~@/assets/poker-icon.png" contain class='icon_colapsed'></v-img></router-link>
            <router-link to="/games/deposit"><v-img src="~@/assets/deposit-icon.png" contain class='icon_colapsed'></v-img></router-link>
            <router-link to="/games/withdraw"><v-img src="~@/assets/withdraw-icon.png" contain class='icon_colapsed'></v-img></router-link>
            <router-link to="/games/qa"><v-img src="~@/assets/qa-icon.png" contain class='icon_colapsed'></v-img></router-link>
            <div id="bottom-info">
              
              Logout
            </div>
          </div>

          </div>
        </div>
    </center>
     
    </div>

        <div :style="(this.$store.state.windowWidth > 1500 ? 'width: 85%;' : this.$store.state.windowWidth < 600 ? 'width: 100%;' : 'width: calc(100% - 100px);') + 'float: right;'">
            <router-view/>
        </div>

    </div>
  </div>
</template>

<script>
import axios from 'axios';
import router from '../router/index';
import { mapState } from 'vuex';

export default {
    name: 'Menu',
  data () {
    return {
      menuOpen: false,
      dots: [],
      inter: null, //Dots loading animation
      intervalData: null, //Gets the trade status
      loadingMessage: 'Checking trade'
    }
  },
  methods: {
    openTrade() {
      window.open(`https://steamcommunity.com/tradeoffer/${this.$store.state.loadingTrade}/`, "trade", "width=1000,height=700");
    },
    steamLogin () {
      let url = 'https://steamcommunity.com/openid/login?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=checkid_setup&openid.return_to=http://localhost:3000/users/steam_login&openid.realm=http://localhost:3000&openid.ns.sreg=http%3A%2F%2Fopenid.net%2Fextensions%2Fsreg%2F1.1&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select';

      window.open(url, "myWindow", "width=1000,height=700");

    },
    setIntervals() {
        clearInterval(this.inter);
        clearInterval(this.intervalData);
        this.intervalData = setInterval( () => {
           const headers = {
            'Content-Type': 'application/json',
            'Authorization': this.$store.state.token
          }
        
          axios.post('http://localhost:3000/deposit/checkStatus', JSON.stringify({ offerid: this.$store.state.loadingTrade }), { headers }).then(ans => {
            if(!ans.data.success) {
              //console.log(ans);
              this.$store.commit('setLoadingTrade', '');
            }else{
              if(ans.data.message === 'Waiting') {
                this.loadingMessage = 'Checking trade';
              }else if(ans.data.message === 'Offer has been declined' || ans.data.message === 'Offer has been accepted') {
                  console.log('state changed..');
                  this.loadingMessage = ans.data.message;
                  clearInterval(this.inter);
                  this.dots = [];

                  setTimeout(() => {
                    this.$store.commit('setLoadingTrade', '');
                  }, 3500);
              }
            }
              
          });
          
        }, 10 * 1000);

        this.inter = setInterval(() => {
          if(this.dots.length >= 3) {
              this.dots = [];
          }
          this.dots.push('.');
        }, 1000);
    },
    onResize() {
      this.$store.commit('setWidth', window.innerWidth);
    }
  },
  beforeDestroy() { 
    window.removeEventListener('resize', this.onResize); 
  },
  mounted() {
    window.steam = (str) => {
      let ans = JSON.parse(str);
      console.log(ans);
      
      if(ans.success){
          this.$store.commit('setToken', ans.token);
          this.$store.commit('setUsername', ans.username);
          this.$store.commit('setAvatar', ans.avatar);
          this.$store.commit('setSteamID', ans.steamid);

          if(ans.notification) {
                this.$notify({
                  group: 'foo',
                  text: ans.notification,
                  type: 'error',
                  duration: -1
                });
            }

          this.loginSuccess = true;

          setTimeout(() => {
            router.push({ name: "Poker" });
          }, 1000);

      }else{
        this.$notify({
                group: 'foo',
                text: ans.error ? ans.error : 'Error, please try again later..',
                type: 'error',
        });

      }
    
    }
    
    if(this.loadingTrade !== '') {
      this.setIntervals();
    } 

    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    });
    
    const headers = {
        'Content-Type': 'application/json',
        'Authorization': this.$store.state.token
        }

    axios.post('http://localhost:3000/users/getCoins', {},  { headers: headers }).then( (ans) => {
      console.log(ans);
        if(ans.data.success) {
            this.$store.commit('setCoins', ans.data.coins);
        }else {
          if(ans.data.login) {
              this.$store.commit('setToken', '');
              router.push({name: 'Login',  query: { loggedIn: false }});
          }else {
            this.$notify({
                    group: 'foo',
                    text: ans.data.message,
                    type: 'error'
            });
                        
          }
        }
    });
  },
  computed: {
    coins() {
        return this.$store.state.coins;
    },
    username() {
      return this.$store.state.username;
    },
    avatar() {
      return this.$store.state.avatar;
    },
    loadingTrade() {
      return this.$store.state.loadingTrade;
    },
    steamID() {
      return this.$store.state.steamid == '' || this.$store.state.steamid == null;
    }
  },
  watch: {
    loadingTrade(newVal, oldVal) {
      if(newVal === '') {
          console.log('clearing all out..');
          this.dots = [];
          clearInterval(this.inter);
          clearInterval(this.intervalData);
      }else if(oldVal === ''){
        console.log('running again..');
        this.loadingMessage = 'Checking trade';
        this.setIntervals();
        
      }
    }
  },
}
</script>

<style lang="scss">
.custom-steam-connect:hover {
  opacity: 0.5;
}
.icon_colapsed {
  height: 28px;
  position: absolute;
  left: -47.5%;
  margin-top: 20px;
}
#user_closed {
    border: solid 5px #fc9a1c;
    width: 65px;
    border-radius: 50%;
    margin-top: 10px;
}
#holder_closed {
  position: fixed; width: 100px; height: 100%; float: left; background-color: #1d1522; opacity: 0.6;
  z-index: 5;
  color: white;
}
.icon-top-menu {
  width: 24px;
}
.path-wrapper {
  display: inline-flex;
}
.path {
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  position: absolute;
  left: 95px;
  margin-top: 1px;
  padding-bottom: 12px;
}
.path:before {
  position: absolute;
  background: linear-gradient(to right, white 50%, #949494 50%);
  height: 2px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}

.icon {
  position: absolute; left: -70px;
  margin-top: 2px;
  width: 26px;
}
#top-menu {
  padding-top: 30px;
  background-color:#1d1522;
  height: 250px;
  margin-bottom: 20px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.logo {
  background-color: #2c2033;
  padding: 10px;
  border-radius: 20px;
}

#bottom-info {
  position: fixed;
  bottom: 20px;
  color: gray;
}

#nav {
  display: inline-block;
  
  height: 100%;
}

#nav a {
  font-weight: bold;
  color: gray;
  
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

#nav a.router-link-exact-active .path-wrapper .path{
  color: #fc9a1c !important;
  filter: drop-shadow(0 0px 10px rgba(38, 198, 209, 1));
}

#nav a.router-link-exact-active .path-wrapper .path:before {
  position: absolute;
  background: linear-gradient(to right, #fc9a1c 50%, #bf8030 50%);
  height: 2px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}

#menuTop .layout .flex .router-link-exact-active .icon-top-menu{
  filter: hue-rotate(90deg);
}

#coins-holder_collapsed {
  padding: 5px;
  width: 80px;
  height: 30px;
  background-color: #54475f;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 10px;
}

#coins-holder {
  padding: 5px;
  width: 120px;
  height: 30px;
  background-color: #54475f;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}

#username {
  margin-top: 15px;
}
#holder {
  position: fixed; width: 15%; height: 100%; float: left; background-color: #1d1522; min-width: 250px;
  color: white;
}
#user-img {
  border: solid 5px #fc9a1c;
  width: 85px;
  border-radius: 50%;
}

html {
  background-image: linear-gradient(to right, rgba(53, 29, 66, 0.8), rgba(52, 29, 66,0.6));
  color:white;
}
.my-style {
  padding: 10px;
  margin: 0 5px 5px;
  margin-top: 15px;
  font-size: 12px;
 
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
  border-radius: 25px;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }
 
  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
 
  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

#games {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
  
}


</style>
