<template>
    <div>
        <center>
            
      
            <div v-if="!debug">
                
            <v-btn rounded v-if="room_id == ''">Create New Room</v-btn>
            <div v-else class="container-game">

                    <div class="players-holder">
                        <div style="top: 22%;left: 45%; position: absolute; width: 450px; ">
                            <div><h2 style="color: white;">{{ won_desc }}</h2></div>
                            <div id="coinsOnTable">{{ sumCoinsOnTable }}</div>
                            <div style="display: flex;">
                                <v-flex xs2 v-for="(card, index) in table_cards" :key='index+10' class="card">
                                    <v-img :src='"../assets/cards/" + card.name + ".png"'></v-img>
                                </v-flex>
                            </div>
                        </div>
                        <center>
                            <div id="container" ref="container_players" style="transform: rotate(90deg)">
                                <div  v-for="(player, index) in players" :key='index'>
                                    <v-progress-circular
                                    
                                    v-bind:style='`top: ${player.top}px; left: ${player.left}px; position: absolute;`'
                                    v-if="player.turn == 1"
                                    :size="100"
                                    :width="7"
                                    color="#E3F2FD"
                                    :value='seconds / 30 * 100'>

                                    <div class="field" >
                                        {{ player.username }}, coins: {{ player.coinsOnTable }}
                                        <div v-if="!player.me" style="display: flex; margin-left:-51px;">
                                        <v-flex xs2 v-for="(card, index) in player.cards" :key='index+50' class="card">
                                            <v-img :src='"../assets/cards/" + card.name + ".png"'></v-img>
                                        </v-flex>

                                        WON: {{ player.won }}
                                        </div>
                                    </div>
                                    </v-progress-circular>
                                    <div v-else class="field" v-bind:style='`top: ${player.top}px; left: ${player.left}px`'>
                                        {{ player.username }}, coins: {{ player.coinsOnTable }}
                                        <div v-if="!player.me" style="display: flex; margin-left:-51px;">
                                        <v-flex xs2 v-for="(card, index) in player.cards" :key='index+50' class="card">
                                            <v-img :src='"../assets/cards/" + card.name + ".png"'></v-img>
                                        </v-flex>

                                        WON: {{ player.won }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>

                    <v-flex xs6 >
                        <center>
                            <v-layout id="cards">
                    <v-flex xs6 v-for="(card, index) in cards" :key='index' class="card">
                        <v-img :src='"../assets/cards/" + card.name + ".png"'></v-img>
                    </v-flex>
                            </v-layout>
                        </center>
                    </v-flex>

                    <v-flex xs6 style="margin-top: 30px;">
                    <v-btn rounded @click='sendAction(0)' v-bind:class="myTurn ? 'action' : 'action btn-custum-disabled'">Check/Call</v-btn>
                    <v-btn rounded @click='sendAction(1, 100)' v-bind:class="myTurn ? 'action' : 'action btn-custum-disabled'">Raise</v-btn>
                    <v-btn rounded @click='sendAction(2)' class='action'>Fold</v-btn>
                    </v-flex>
            </div>
            </div>
            <div v-else>
                <!-- 
                <v-progress-circular
                    :size="100"
                    :width="7"
                    color="#E3F2FD"
                    :value='seconds / 30 * 100'>
                    <div class="field">
                        Hello, coins: 100
                    <div style="display: flex; margin-left:-51px;">
                    </div>
                    </div>
                </v-progress-circular>
                !-->
    
                <ChooseRoom :connectToRoom="connectToRoom"/>
            </div>
        </center>
    </div>
</template>

<script>
var socket = require('../assets/socket.io')('http://localhost:3000');

import ChooseRoom from '../components/ChooseRoom';
import axios from 'axios';

export default {
  name: 'Poker',
  components: {
      ChooseRoom
  },
  data() {
    return {
        room_id: 'c51e2692c60edd391d746a4a43910e3e2e2801af63ed4a28f9e9652dc524',
        cards: [],
        debug: true,
        seconds: 0,
        intervalSeconds: null,

        players: [ //First player is YOU

            
        ],
        action: 0, //Action 0 = Not Started, 1 = Waiting for turn, 2 = Flop, 3 = Turn, 4 = River. 
        coins: 0,
        table_cards: [],
        sumCoinsOnTable: 0,
        won_desc: '',
        myTurn: false,
        value: 50,
    }
  },
  methods: {
      connectToRoom(minBet) {
        const headers = {
            'Content-Type': 'application/json',
            'Authorization': this.$store.state.token
        }

        axios.post('http://localhost:3000/poker/new_room', { minBet },  { headers: headers }).then( (ans) => {
            this.debug = false;
            this.room_id = ans.data.room_id;
            socket.emit('roomConnect', this.$store.state.token, this.room_id);
        });
          
      },
      calculteCircle() {
            var radius = 215;
            let width = this.$refs.container_players.clientWidth; 
            let height = this.$refs.container_players.clientHeight;
            var angle = 0, step = (2*Math.PI) / this.players.length;
            
            let playerWidth = 80;
            let playerHeight = 80;

            this.players.forEach((player) => {
                if(player.me) {
                    if(player.turn == 1)
                        this.myTurn = true;
                    else this.myTurn = false;
                }
                //X,Y  = 410
                var x = Math.round(width/2 + radius * Math.cos(angle) - playerWidth/2);
                var y = Math.round(height/2 + radius * Math.sin(angle) - playerHeight/2);
                player.left = x;
                player.top = y;
                
                angle += step;
            });
      },
      updateCircle(players) {
        let index = 0;

        for(let i = 0 ; i < players.length ; i++) {
            if(players[i].me) {
                index = i;
                break;
            }
        }

        let tmp = players[0];
        players[0] = players[index];
        players[index] = tmp;

        return players;
      },
      sendAction(action, bet=null) {
          if(this.myTurn || action == 2)
            socket.emit('action',  this.$store.state.token, this.room_id, action, bet);
          else console.log('not my turn...');
      },
      setIntervalSeconds() {
        this.seconds = 0;
        clearInterval(this.intervalSeconds);
        this.intervalSeconds = setInterval(() => {
                if(this.seconds >= 30) {
                    clearInterval(this.intervalSeconds);
                }
                this.seconds += 0.5;
        }, 500);
      }
  }, 
  beforeRouteLeave (to, from, next) {
      console.log('emit disconnect..');
    socket.disconnect();
    next();
  },
  mounted() {
      

      this.setIntervalSeconds();

      socket.on('authenticationFailed', () => {
          console.log('authentication failed');
      });
      socket.on('wrongRoom', () => {
          console.log('wrongRoom');
      });
      socket.on('alreadyConnected', () => {
          console.log('alreadyConnected');
      });
      socket.on('Waiting', () => {
          console.log('Waiting for another player');
      });
     
      socket.on('StartGame', (ans) => {
          let state = ans.state;
          let cards = ans.cards;
          this.table_cards = [];
          this.seconds = 0;
          this.won_desc = '';
          this.sumCoinsOnTable = 0;

          console.log(state);
          
         let data = state;
         let players = data.players;
         
         this.players = this.updateCircle(players);

          this.calculteCircle();
          console.log('Starting Game');
          this.cards = cards;
          console.log(this.cards);
      });

     socket.on('notYourTurn', () => {
         console.log('Not your turn');
     })

     socket.on('newAction', (state) => {
        this.seconds = 0;
        this.setIntervalSeconds();

        state = JSON.parse(state);
        console.log(state);

        if(state.won_desc) {
            this.won_desc = state.won_desc.toUpperCase();
        }

        if(state.cards) this.table_cards = state.cards;

            this.players = this.updateCircle(state.players)
            this.calculteCircle();
            let sum = state.coinsOnTable;
            console.log(this.players);

            if(this.players.length == 1) {
                this.cards = [];
                clearInterval(this.intervalSeconds);
                this.table_cards = [];
                this.seconds = 0;
                this.won_desc = '';
                this.sumCoinsOnTable = 0;
                console.log('Waiting for another player..');
                return;
            }

            for(let i in this.players) {
                if(this.players[i].coinsOnTable) {
                    sum -= this.players[i].coinsOnTable;
                }

                if(this.players[i].won) {
                    if(this.players[i].me)
                    this.$notify({
                  group: 'foo',
                  text: 'You won!',
                  type: 'success'
                    });
                    else
                        this.$notify({
                  group: 'foo',
                  text: `Player: ${this.players[i].username} won`,
                  type: 'warn'
                    });
                }

                if(this.players[i].me && this.players[i].coins) {
                    this.$store.commit('setCoins', this.players[i].coins);
                }
                if(this.players[i].me) {
                    if(this.players[i].turn == 1)
                        this.myTurn = true;
                    else this.myTurn = false;
                }
            }
            this.sumCoinsOnTable = sum;
     });

     //socket.emit('roomConnect', this.$store.state.token, this.room_id);
  },
  
}
</script>

<style scoped>
.btn-custum-disabled {
    opacity: 0.5;
}
#coinsOnTable {
    width: 100px;
    border:solid;
    border-color: red;
    height: 50px;
    padding: 13px;
    color: white;
}
#tableCards { position: absolute;
    top: 60%;
    left: 40%; }
#container { width: 900px; height: 500px; position: relative; z-index: -1; }
.field { width: 80px; height: 80px; position: absolute; background: #f00; border-radius: 50%; transform: rotate(-90deg); padding-top: 30px;}

.players-holder {
    width: 900px;
    height: 400px;
    margin-bottom: 100px;
}


.action {
    margin: 10px;
}
.container-game {
    width: 85%;
}
#cards {
    margin-left: 70px;
    width: 250px;
    margin-top: 150px;
}
.card {
    padding: 1px;
    max-width: 90px;
}
</style>