<template>
  <center>
    <div id="choose-room-holder">
        <div>
            <h1 style="padding-top: 60px; color: white;">HOLD'EM TABLES</h1>
            <div class="separator" style="margin-top: 30px;"><h2 >${{ value }}C / ${{ value * 2 }}C <br/> <span style="font-size: 75%;">Min / Max Buy-in</span></h2></div>


            
            <div>
                <div class="range-slider" style="margin-top: 40px;">
                    <span class="left" @click="minus()">-</span>
                    <input type="range" :value="value" @input="onInput" :min="min" :max="max" :step="step">
                    <span class="right" @click="plus()">+</span>
                </div>

                <div style="margin-top:40px;">
                    <v-btn rounded large @click="connectToRoom(value)"><v-icon>mdi-play</v-icon>PLAY</v-btn>
                </div>

            </div>

        </div>
    </div> 
  </center>
</template>

<script>
import router from '../router/index';

export default {
  name: 'ChooseRoom',
  props: {
    connectToRoom: { type: Function },
  },
  data () {
    return {
        value: 1,
        range: 0,
        min: 1,
        max: 10,
        step: 1,
    }
  },
  methods: {
      onInput (e) {
      this.value = e.target.value;
    },
      plus: function () {
        console.log(`before: ${this.range}`)
        if (this.range < this.max) {
         this.range = parseInt(this.range) + parseInt(this.step);
        if (this.range > this.max) {
           this.range = this.max;
        }
        console.log(`after: ${this.range}`);
      }
    },
    minus: function () {
      if (this.range > this.min) {
         this.range = parseInt(this.range) - parseInt(this.step);
         if (this.range < this.min) {
           this.range = this.min;
         }
      }
    }
  },
  mounted() {
  },
  watch: {
    range: function () {
     this.value = this.range;
    },
    value: function () {
      this.range = this.value
    }
  }
}
</script>

<style scoped>
.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

#choose-room-holder {
    width: 650px;
    height: 450px;
    background-color: rgb(215, 38, 61);
    border-radius: 10px;
    margin-top: 100px;
}

.range-slider {
  color: #fff;
  user-select: none;
  display: inline-block;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
.range-slider span {
  font-size: 130%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  border: 2px solid #3f51b5;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 9;
}
.range-slider span.left {
  line-height: 30px;
  left: 0;
}
.range-slider span.right {
  right: 0;
}
.range-slider span.right:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  width: 29px;
  height: 29px;
  background: #3f51b5;
  z-index: -1;
}
.range-slider input {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0 -5px;
  vertical-align: middle;
  width: 300px;
  height: 41px;
  background: none;
}
.range-slider input:focus {
  outline: none;
}
.range-slider input::-webkit-slider-runnable-track {
  height: 3px;
  background: #3f51b5;
  cursor: pointer;
  transition: all .2s ease;
}
.range-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #111;
  position: relative;
  border: 2px solid #3f51b5;
  z-index: 3;
  cursor: pointer;
  margin-top: 2px;
  transform: translateY(-50%);
}
.range-slider input::-moz-range-track {
  height: 3px;
  background: #3f51b5;
  cursor: pointer;
  transition: all .2s ease;
}
.range-slider input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #111;
  position: relative;
  border: 2px solid #3f51b5;
  z-index: 3;
  cursor: pointer;
}
.range-slider input::-ms-track {
  height: 3px;
  background: #3f51b5;
  cursor: pointer;
  transition: all .2s ease;
}
.range-slider input::-ms-thumb {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #111;
  position: relative;
  border: 2px solid #3f51b5;
  z-index: 3;
  cursor: pointer;
  transform: translateY(0%);
}
</style> 