<template>
  <div class="root">
     <div class="container">
          <ul class="progressbar">
            <li v-bind:class="obj.active ? 'active' : ''" v-for="(obj, index) in fields" :key="index">{{ obj.text }}</li>
          </ul>
      </div>
  </div>
</template>
<script>
export default {
  props:['fields'],
  data () {
    return {
    }
  },
}
</script>

<style scoped>
li {
    list-style-type: none;
}
.container{
    left: calc(20px + 67%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
     width: 35%;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
}
.progressbar{
  counter-reset: step;
}
.progressbar li{
  float: left;
  width: 14.28%;
  position: relative;
  text-align: center;
}
.progressbar li:before{
  content:"";
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}
.progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li.active:before{
 border-color: #3aac5d;
 background: #3aac5d;
 color: white
}
.progressbar li.active:after{
 background: #3aac5d;
}
.progressbar li.active li:after{
 background: #3aac5d;
}
.progressbar li.active li:before{
border-color: #3aac5d;
background: #3aac5d;
color: white;
}
.progressbar li:first-child:after{
 content: none;
}
</style>